.address-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.address-form-card{

    width:95%;
    max-width:520px;

    background:#fff;

    border-radius:18px;

    padding:30px;

    animation:popup .25s ease;
}

@keyframes popup{

    from{

        transform:scale(.9);
        opacity:0;

    }

    to{

        transform:scale(1);
        opacity:1;

    }

}

.address-form-card h2{

    margin-bottom:25px;

    color:#2e7d32;

}

.address-form-card form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.address-form-card input{

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:15px;

}

.default-checkbox{

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:5px;

}

.form-buttons{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:15px;

}

.cancel-btn{

    background:#eee;

    color:#333;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    cursor:pointer;

}

.save-btn{

    background:#2e7d32;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:10px;

    cursor:pointer;

}