.addresses-page{
    max-width:900px;
    margin:30px auto;
    padding:20px;
}

.add-address-btn{

    display:flex;
    align-items:center;
    gap:10px;

    background:#2e7d32;
    color:#fff;

    border:none;

    padding:14px 22px;

    border-radius:12px;

    cursor:pointer;

    margin-bottom:25px;

    font-size:15px;

}

.add-address-btn:hover{

    background:#256628;

}

.empty-address{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    padding:80px 20px;

    color:#777;

}

.empty-address svg{

    color:#2e7d32;

    margin-bottom:15px;

}

.address-card{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    background:#fff;

    border-radius:16px;

    padding:20px;

    margin-bottom:18px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.address-info h3{

    margin-bottom:10px;

}

.address-info p{

    margin:6px 0;

    color:#666;

}

.default-badge{

    background:#2e7d32;

    color:#fff;

    padding:3px 10px;

    border-radius:30px;

    margin-left:10px;

    font-size:12px;

}

.address-actions{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.address-actions button{

    width:42px;

    height:42px;

    border:none;

    border-radius:10px;

    background:#f3f3f3;

    cursor:pointer;

    transition:.2s;

}

.address-actions button:hover{

    background:#2e7d32;

    color:white;

}

@media(max-width:650px){

.address-card{

    flex-direction:column;

    gap:20px;

}

.address-actions{

    flex-direction:row;

}

}