.categories-section {
  margin: 20px;
}

.categories-title {
  font-size: 24px;

  font-weight: 600;

  margin-bottom: 20px;
}

.categories-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.category-card {
  background: #fff;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

  cursor: pointer;

  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 100%;

  height: 200px;

  object-fit: cover;
}

.category-info {
  padding: 18px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.category-info h3 {
  font-size: 20px;
}

.category-info button {
  width: 42px;

  height: 42px;

  border: none;

  border-radius: 50%;

  background: #16a34a;

  color: #fff;

  font-size: 16px;
}

.category-name {
  text-align: center;
}
