.timeline {
  margin-top: 20px;
}

.timeline-step {
  display: flex;
  min-height: 65px;
}

.timeline-left {
  position: relative;
  width: 38px;
  display: flex;
  justify-content: center;
}

.timeline-circle {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background: #e0e0e0;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: bold;

  z-index: 2;

  transition: all 0.3s ease;
}

.timeline-circle.active {
  background: #18b54a;
}

.timeline-circle.current {
  box-shadow: 0 0 0 6px rgba(24, 181, 74, 0.12);
}

.timeline-line {
  position: absolute;

  top: 32px;
  bottom: -5px;

  width: 3px;

  background: #e0e0e0;

  border-radius: 10px;
}

.timeline-line.active {
  background: #18b54a;
}

.timeline-content {
  padding-left: 15px;
  padding-top: 5px;
}

.timeline-content p {
  margin: 0;

  font-size: 15px;

  color: #999;

  font-weight: 500;
}

.timeline-content .completed-text {
  color: #222;
  font-weight: 600;
}

.current-status {
  display: inline-block;

  margin-top: 5px;

  padding: 4px 9px;

  border-radius: 20px;

  background: #e8f8ed;

  color: #18a844;

  font-size: 11px;

  font-weight: 600;
}

/* Cancelled */

.cancelled-timeline {
  display: flex;

  align-items: center;

  gap: 15px;

  padding: 15px;

  background: #fff1f1;

  border-radius: 14px;

  border: 1px solid #ffd6d6;
}

.cancelled-icon {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: #d32f2f;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.cancelled-timeline h4 {
  margin: 0 0 4px;

  color: #d32f2f;
}

.cancelled-timeline p {
  margin: 0;

  color: #777;

  font-size: 13px;
}