.search-container {
  padding: 20px;

  background: #fff;
}

.search-box {
  display: flex;

  align-items: center;

  background: #f5f5f5;

  border-radius: 14px;

  padding: 14px 18px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.search-icon {
  color: #777;

  margin-right: 12px;

  font-size: 18px;
}

.search-box input {
  width: 100%;

  border: none;

  outline: none;

  background: transparent !important;

  font-size: 16px;
}
