.admin-header {
  height: 72px;

  background: #fff;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 30px;

  border-bottom: 1px solid #e5e7eb;

  position: sticky;

  top: 0;

  z-index: 100;
}

.admin-header h2 {
  font-size: 24px;

  font-weight: 600;
}

.menu-btn {
  display: none;

  border: none;

  background: none;

  font-size: 24px;

  cursor: pointer;
}

@media (max-width: 992px) {
  .menu-btn {
    display: block;
  }
}
