.admin-sidebar{
    width:250px;
    background:#1f2937;
    color:#fff;

    display:flex;
    flex-direction:column;

    padding:20px;

    transition:.3s;
}

.sidebar-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.admin-sidebar a{
    display:flex;
    align-items:center;
    gap:12px;

    color:#fff;
    text-decoration:none;

    padding:14px;
    margin-bottom:8px;

    border-radius:10px;
}

.admin-sidebar a.active{
    background:#4caf50;
}

.close-btn{
    display:none;
}

/* ---------- Mobile ---------- */

@media(max-width:992px){

.admin-sidebar{

    position:fixed;

    left:0;
    top:0;

    width:250px;
    height:100vh;

    transform:translateX(-100%);

    z-index:1001;

}

.admin-sidebar.open{

    transform:translateX(0);

}

.close-btn{

    display:block;

    background:none;
    border:none;
    color:#fff;

    font-size:24px;
    cursor:pointer;

}

}