.admin-sidebar{
    width:260px;
    background:#1e293b;
    color:white;
    display:flex;
    flex-direction:column;
    padding:25px 0;
    transition:.3s;
    overflow-y:auto;
}
.sidebar-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.admin-sidebar a{
    display:flex;
    align-items:center;
    gap:12px;

    color:#fff;
    text-decoration:none;

    padding:14px;
    margin-bottom:8px;

    border-radius:10px;
}

.admin-sidebar a.active{
    background:#4caf50;
}

.close-btn{
    display:none;
}

/* ---------- Mobile ---------- */

@media(min-width:993px){

.admin-sidebar{

    position:fixed;

    left:0;

    top:0;

    bottom:0;

    transform:none !important;

    z-index:100;

}

}